<!doctype html>
<html>
    <body style='background-color: skyblue'>

{% comment %} {% with firstname="Nshabiirwe" %}

<h1> Hello {{ firstname }}, how was your day?</h1>
{% endwith %} {% endcomment %}
 {% with greeting=1%}

{% if greeting == 1 %}
    <h1 style='background-color: green'> Hello </h1>
{% else %}
    <h1 style='background-color: green'> Bye </h1>
{% endif %}

{% endwith %} 
{% comment %} {% with els=['kizzah','Nshabiirwe'] %}

<ul>
    {% for x in els %}
        <li style='background-color:{% cycle 'lightblue' 'pink' 'yellow' 'coral' 'grey' %}'>
            {{ x }}
        </li>
    {% endfor %}
</ul> {% endcomment %}

</body>
</html>